.navber {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: black;
}
.content {
  padding: 10px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.Links {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Links a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ;
  -webkit-transition: all 0.3s ;
  -moz-transition: all 0.3s ;
  -ms-transition: all 0.3s ;
  -o-transition: all 0.3s ;
}
.Links a:hover {
  color: #DEC700;
}
.navber h2 {
  font-size: 32px;
  line-height: 38px;
}
.navber h2  span{
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
}
/* .icons svg {
  font-size: 25px;
  margin-right: 30px;
} */
.icons svg {
  font-size: 25px;
}
.icons span:nth-of-type(1) svg {
  margin-right: 30px;
}
.icons span:nth-of-type(2) {
  position: relative;
}
.icons span:nth-of-type(2)::after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 13px;
  height: 13px;
  background-color: #DEC700;
  bottom: -9px;
  right: -2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.heading  {
  font-size: 25px;
  line-height: 23px;
}
.heading  span {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 18px;
}
.menu {
  display: none;
}
.OffLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OffLinks a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
}
@media (max-width: 767.98px) {
  .Links {
    display: none;
  }
  .menu {
    display: block;
    background-color: transparent;
    border: none;
  }
  .menu  svg {
    color: #DEC700;
    font-size: 35px;
  }
  .navber h2 {
    font-size: 25px;
    line-height: 23px;
  }
  .navber h2  span {
    font-size: 21px;
    line-height: 18px;
  }
}
@media (max-width: 991.98px) { 
  .Links {
  flex-basis: 61%;
  }

 }